.slider .btn{
	margin-top: 20px;
}
.section-search input{
	padding: 5px !important;
	border:3px solid #f4f4f4 !important;
	width: 90% !important;
	border-radius: 2px!important;
}
.autocomplete-content{
	position: absolute;
	width: 50%;
	text-align: center;
}
.section .fa-4x{
	margin:5px 10px;
}
.section-contact h5{
	margin-bottom: 30px;
}
